.skill-section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin: 48px 0;
  background: linear-gradient(90deg, #d946ef 0%, #a855f7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 0 24px 48px 24px;
  align-items: center;
  justify-items: center;
}

.box-skill {
  background-color: #000;
  border: 1px solid #403e41;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 100%;

  margin-bottom: 32px;

  transition: 0.3s ease;
}

.box-skill:hover {
  border: 1px solid #a855f7;
  transform: scale(1.05);
}

.box-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: center;
  background: linear-gradient(90deg, #d946ef 0%, #a855f7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.skills-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.skill-item {
  display: flex;
  flex: 1 1 100%;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #dddddd;
  background-color: #111;
  padding: 8px 32px;
  border-radius: 9px;
  border: 1px solid #403e41;
  transition: 0.3s ease;
}

.skill-item:hover {
  background-color: #222;
  border: 1px solid #a855f7;
  transform: scale(1.02);
}

.skill-logo {
  font-size: 28px;
  color: #a855f7;
}
